# Maven
target/
out/
sources.txt

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse / VSCode
.classpath
.project
.settings/
.vscode/

# Build outputs
*.class
*.jar

# OS
.DS_Store
Thumbs.db

# Save files
runningwater_save.txt
